<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            
            <service name="Aeroporto.Clienti">
                <endpoint address="" binding="basicHttpBinding" contract="Aeroporto.IClienti">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Aeroporto/Clienti/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Aeroporto.Accesso">
                <endpoint address="" binding="basicHttpBinding" contract="Aeroporto.IAccesso">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Aeroporto/Accesso/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Aeroporto.Equipaggio">
                <endpoint address="" binding="basicHttpBinding" contract="Aeroporto.IEquipaggio">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Aeroporto/Equipaggio/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Aeroporto.Controllori">
                <endpoint address="" binding="basicHttpBinding" contract="Aeroporto.IControllori">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Aeroporto/Controllori/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="Aeroporto.Airport">
                <endpoint address="" binding="basicHttpBinding" contract="Aeroporto.IAirport">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                
            </service>
            
        </services>
    </system.serviceModel>
</configuration>